*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 1rem;
    margin: 0;
}

.container{
    width: 1200px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

img{
    max-width: 90%;
}

h1, h2, h4{
    font-family: 'Raleway', sans-serif;
    font-size: 2.1rem;
}

.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex > div{
    flex: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li{
    margin-left: 50px;
}

nav ul a{
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    text-decoration: none;
    font-weight: 400;
}

nav ul a:hover{
    font-weight: 700;
}

form{
    margin: 20px 20px 20px 0px;
}

input{
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 2px;
    padding: 15px;
    min-width: 60%;
}

button{
    border: 1px solid hsl(224, 93%, 58%);
    background-color: hsl(224, 93%, 58%);
    border-radius: 2px;
    padding: 15px 30px;
    color: #fff;
    min-width: 35%;
}

button:hover{
    background-color: hsl(170, 45%, 43%);
    border: 1px solid hsl(170, 45%, 43%);
    box-shadow: 0px 0px 5px hsl(0, 0%, 75%);
}

.light-blueish{
    background-color: #F8F8FE;
    margin-top: 200px;
    position: relative;
}

.light-blueish::before{
    content: '';
    background-image: url('./images/bg-curve-desktop.svg');
    position: absolute;
    background-size: cover;
    top: -214px;
    height: 114px;
    width: 100%;
    margin-top: 100px;
}

.green{
    color: #3da08f;
}

.testimonial-box{
    margin-top: 30px;
    background-color: #fff;
    width: 80%;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(88, 89, 137, 0.1);
    border-radius: 5px;
}

.testimonial-box p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.7;
}

.user-info{
    display: flex;
    margin-top: 20px;
}

.user-info img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info h4{
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
}