*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
    font-size: 1.2rem;
}

.container{
    width: 1440px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

h1, h2{
    font-family: 'Raleway', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex > div{
    flex: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li{
    margin-left: 50px;
}

nav ul a{
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    text-decoration: none;
}

form{

}

input{
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 2px;
    padding: 15px;
}

button{
    border: 1px solid hsl(224, 93%, 58%);
    background-color: hsl(224, 93%, 58%);
    border-radius: 2px;
    padding: 15px;
    color: #fff;
}
